<div class="tasks">
  <ul>
    <li>
      <% if @user.id == true %>
          <%= @tasks.priority %>
          <%= @task.content %>
      <% else %>
        <% "Permission Denied" %>
      <% end %>
    </li>
  </ul>
</div>
